@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

*{
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    padding: 60px;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Passion One', cursive;
    
    font-size: 8em;
    font-weight: bold;
}

.normal{
    padding: 40px;
    background-color: white;
}