@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');


*{
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    padding: 60px;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Passion One', cursive;
    
    font-size: 7em;
    font-weight: bold;
}

.normal{
    padding: 60px;
    background-color: white;
    padding-bottom: 60px;
}

.normal > p, .section-imagem > p{
    font-family: 'Sriracha', cursive;
    font-size: 4em;
}

.section-imagem > p{
    background-color: rgba(0, 0, 0, 0.423);
    color: white;
    width: 110vh;
}




.section-imagem{
    padding: 60px;
    height: 100vh;
    background-attachment: fixed;
}

#img1{
    background-image: url('images/background001.jpg');
    background-position: right center;
}